.App {
  margin-top: 1rem;
  align-items: center;
  width: 100%;
}

a {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 4rem 0.5rem;
  text-decoration: none;
  color: orange;
  font-variant: all-small-caps;
  list-style-type: none;
  margin: auto;
  border-radius: 50px;
  font-size: 140%;
  text-align: center;
}

a:hover{
  background-color: lightcyan;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navMenu {
  background-color: darkcyan;
  border-radius: 50px;
  flex-grow: 1;
  display: flex;
  padding: 0.3rem 1rem 0.3rem;
}

.txtPlay {
  display: inline;
  padding: 0em;
  margin: auto;
  color: #2678C0;
  font-weight: bold;
  font-size: 1.3em;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:orange;
  font-size: 3em;
  margin: 0.2em 0;
}

li {
  padding: 0em 1em;
  margin: auto;
  
}

.playButton {
  margin: auto;
}

main {
  width: 100%;
  margin: auto;
  text-align: center;
}

.battleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header{
  margin-bottom: 2rem;
}

Link {
  align-items: flex-end;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap:2em;
  list-style-type: none;
  height: 50px;
  width: auto;
  margin-top: 5vh;
}

.galleryCard {
 padding-top: 1rem;
 border: solid 2px darkcyan;
 box-shadow: 2px 5px lightcyan;
 border-radius: 10px;
 max-width: 30rem;
 justify-self: center;
 width: 100%;
 max-width: 20rem;
 background-color: lightgray;
}

.galleryCard img {
  width: 10rem;
 }

.startButton { 
  margin: auto;
  width: auto;
  background-color: lightcyan;
}

.galleryCard img, .battleWrapper li img {
  width: auto;
  height: 10em;
}

p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.remove-button{
  background-color: lightcyan;
  margin-bottom: 0.5rem;
}
.cutestHamsterSection{
  justify-content: center;
  display: flex;
}
.playSectionWraper{
  display: flex;
  flex-direction: row;
}